#if(${PACKAGE_NAME}&&${PACKAGE_NAME}!="")package ${PACKAGE_NAME};#end
#parse("File Header.java")

@Service
public class ${NAME}ServiceIml implements BasicService<${NAME}>{

private final ${classRepository} ${objectRepository};

@Autowired
public ${NAME}ServiceIml (${classRepository} ${objectRepository}){
this.${objectRepository}=${objectRepository};
}

public Optional<${objectClass}> findById(Long id){return ${objectRepository}.findById(id);}
public Iterable<${objectClass}> findAll(){return ${objectRepository}.findAll();}
public Iterable<${objectClass}> findAllPage(int numberPage,int size){

Pageable pageConfig=PageRequest.of(numberPage,size);
    return ${objectRepository}.findAll(pageConfig);
}

public ${objectClass} save(${objectClass} ${objectIntance}){
    ${objectClass} saved${object}=${objectRepository}.save(${objectIntance});
    return saved${object};
}
@Transactional
public boolean delete(String id){
    ${objectRepository}.deleteBy${objectClass}Id(id);
    return true;
}

public boolean update(${objectClass} ${objectIntance}){
    Optional<${objectClass}> old${object}=${objectRepository}.findBy${objectClass}Id(${objectIntance}.get${objectClass}Id());
    if(!old${object}.isPresent()){return false;}
        ${objectRepository}.save(${objectIntance});
        return true;
    }
}